body {
	background: $neutral-darkest;
	color: $neutral-lightest;

	&:before, &:after{
		content: ' ';
		display: table;
	}

	height: auto;
	margin: 0;
}

img { max-width: 100%; }


// Scrollbars
* {
	&:hover {
		--scroll-bar-opacity: 1;
	}

	&::-webkit-scrollbar {
		width: var(--scroll-bar-size);
		height: var(--scroll-bar-size);
	}

	&::-webkit-scrollbar-track {
		background: rgba($neutral-darkest, .8);
	}

	&::-webkit-scrollbar-thumb {
		background: hsla(var(--scroll-bar-color), var(--scroll-bar-opacity));

		border: 1px solid hsla(var(--dark-hsl), .5);
		border-radius: var(--scroll-bar-size);

		transition: background-color .3s;
	}
}

.scroll-discreet {
	--scroll-bar-size: 2px;
}
