//// Typography

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Catamaran:wght@100..900&display=swap');

/// Default
html {
	font-family: $font-default;
	font-size: 62.5%;
}

body {
	font-size: $font-size-sm;
}

// Headers
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: $font-title;
	font-weight: 400;
	text-shadow: 0 0 15px rgba(50, 50, 50, 1);

	.rb-icon {
		transform: scale(.8);
	}

	small {
		font-size: .5em;
		font-weight: 300;
		transform: translateY(-.2em);
		display: inline-block;
		margin-left: .5em;
	}
}

h1 { font-size: $font-size-xxl; }
h2 { font-size: $font-size-xl; }
h3 { font-size: $font-size-lg; }
h4 { font-size: $font-size-md; }
h5 { font-size: $font-size-sm; }
h6 { font-size: $font-size-xs; }

// Links
a {
	color: $neutral-light;
	text-shadow: 0 0 5px rgba(0, 0, 0, .5);
	transition: all 0.5s ease 0s;

	.rb-icon {
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
		transition: filter 0.5s ease 0s;
	}

	&:hover, &:focus {
		text-decoration: none;
		color: $neutral-lightest;
		text-shadow: 0 0 5px;

		.rb-icon {
			filter: drop-shadow(0 0 5px currentcolor);
		}
	}
}

a:hover, a:focus {
	text-decoration: none !important;
}

// Etc
::selection {
	background: hsl(var(--secondary-hs), 30%);
}

/// Utility classes
.text {
	&-xxl {
		font-size: $font-size-xxl;
	}
	&-xl {
		font-size: $font-size-xl;
	}
	&-lg {
		font-size: $font-size-lg;
	}
	&-md {
		font-size: $font-size-md;
	}
	&-sm {
		font-size: $font-size-sm;
	}
	&-xs {
		font-size: $font-size-xs;
	}
	&-xxs {
		font-size: $font-size-xxs;
	}

	&-title {
		font-family: $font-title;
	}
}

.text-center {
	text-align: center;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.single-line {
	white-space: nowrap;
}
