@function hsl-values($color) {
	@return  #{hue($color)}, #{saturation($color)}, #{lightness($color)};
}
@function hs-values($color) {
	@return  #{hue($color)}, #{saturation($color)};
}

:root {
	// Colors
	--neutral-darkest: #{$neutral-darkest};
	--neutral-darkest-h: #{hue($neutral-darkest)};
	--neutral-darkest-hs: #{hs-values($neutral-darkest)};
	--neutral-darkest-hsl: #{hsl-values($neutral-darkest)};

	--neutral-dark: #{$neutral-dark};
	--neutral-dark-h: #{hue($neutral-dark)};
	--neutral-dark-hs: #{hs-values($neutral-dark)};
	--neutral-dark-hsl: #{hsl-values($neutral-dark)};

	--neutral-md: #{$neutral-md};
	--neutral-md-h: #{hue($neutral-md)};
	--neutral-md-hs: #{hs-values($neutral-md)};
	--neutral-md-hsl: #{hsl-values($neutral-md)};

	--neutral-light: #{$neutral-light};
	--neutral-light-h: #{hue($neutral-light)};
	--neutral-light-hs: #{hs-values($neutral-light)};
	--neutral-light-hsl: #{hsl-values($neutral-light)};

	--neutral-lightest: #{$neutral-lightest};
	--neutral-lightest-h: #{hue($neutral-lightest)};
	--neutral-lightest-hs: #{hs-values($neutral-lightest)};
	--neutral-lightest-hsl: #{hsl-values($neutral-lightest)};

	--primary: #{$primary};
	--primary-h: #{hue($primary)};
	--primary-hs: #{hs-values($primary)};
	--primary-hsl: #{hsl-values($primary)};

	--secondary: #{$secondary};
	--secondary-h: #{hue($secondary)};
	--secondary-hs: #{hs-values($secondary)};
	--secondary-hsl: #{hsl-values($secondary)};

	--info: #{$info};
	--info-h: #{hue($info)};
	--info-hs: #{hs-values($info)};
	--info-hsl: #{hsl-values($info)};

	--warning: #{$warning};
	--warning-h: #{hue($warning)};
	--warning-hs: #{hs-values($warning)};
	--warning-hsl: #{hsl-values($warning)};

	--error: #{$error};
	--error-h: #{hue($error)};
	--error-hs: #{hs-values($error)};
	--error-hsl: #{hsl-values($error)};


	// Spacers
	--spacer: #{$spacer};
	--spacer-0: 0;
	--spacer-1: calc(var(--spacer) / 4);
	--spacer-2: calc(var(--spacer) / 2);
	--spacer-3: var(--spacer);
	--spacer-4: calc(var(--spacer) * 1.5);
	--spacer-5: calc(var(--spacer) * 3);


	// Scrollbar
	--scroll-bar-size: 5px;
	--scroll-bar-color: var(--secondary-hsl);
	--scroll-bar-opacity: .7;
}
