$font-default: 'Public Sans', sans-serif;
$font-title: 'Catamaran', cursive;
$font-family-base: $font-default;

$font-size-xxl: 3.6rem;
$font-size-xl: 2.8rem;
$font-size-lg: 2.4rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.6rem;
$font-size-xs: 1.4rem;
$font-size-xxs: 1.0rem;
$font-size-base: $font-size-sm;

$border-radius: .4rem;
$border-radius-lg: .6rem;
$border-radius-sm: .2rem;

$spacer: 1rem;

$primary: #e0972b;
$secondary: #7054bc;
$info: #3569c2;
$success: #5bac1e;
$warning: #ed8b27;
$error: #e44040;

$background: #171123;
$background-lighter: #362A4F;
$background-lightest: #BBA1C5;

$neutral: #E6EAEB;
$neutral-lightest: #E0F0FF;
$neutral-light: #88889c;
$neutral-md: #37373e;
$neutral-dark: #19171f;
$neutral-darkest: #100f17;
